@import "tailwindcss";
.tb {
  @apply border-2 border-white;
}

.pad_app {
  @apply px-[20px] sm:px-[50px];
}

.grad_txt {
  background: linear-gradient(to right, var(--whitesmoke), var(--neutral__700));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.txt__xs {
  @apply text-xs sm:text-sm md:text-base lg:text-lg;
}

.txt__sm {
  @apply text-sm sm:text-base md:text-lg lg:text-xl;
}

.txt__md {
  @apply text-base sm:text-lg md:text-xl lg:text-2xl;
}

.txt__lg {
  @apply text-lg sm:text-xl md:text-2xl lg:text-3xl;
}

.txt__xl {
  @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl;
}

.txt__2xl {
  @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl;
}

@keyframes spin {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
.link {
  transition: 0.3s ease-in-out;
  position: relative;
}
.link::after {
  content: "";
  position: absolute;
  bottom: -3.5px;
  width: 0%;
  left: 50%;
  height: 2px;
  transition: 0.3s ease-in-out;
  background-color: var(--whitesmoke);
}
.link:hover {
  text-shadow: 0 0 2.5px var(--whitesmoke), 0 0 5px var(--whitesmoke);
}
.link:hover::after {
  width: 100%;
  left: 0;
  box-shadow: 0 0 5px var(--whitesmoke), 0 0 10px var(--whitesmoke);
}

html {
  scroll-behavior: smooth;
}

:root {
  --whitesmoke: #f5f5f5;
  --gray__300: #d1d5dc;
  --neutral__950: #0a0a0a;
  --neutral__700: #404040;
}
