@import "tailwindcss";
@plugin "@tailwindcss/typography";
.tb {
  @apply border-2 border-white;
}

.pad_app {
  @apply px-[20px] sm:px-[50px];
}

.grad_txt {
  background: linear-gradient(to right, var(--whitesmoke), var(--neutral__700));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.btn_app {
  cursor: pointer;
  transition: 0.3s;
}
.btn_app:hover {
  transform: scale(var(--scale_up));
}

.btn_app:active {
  transition: 0.15s;
  transform: scale(0.8);
}

.txt__xs {
  @apply text-xs md:text-sm lg:text-base;
}

.txt__sm {
  @apply text-sm md:text-base lg:text-lg;
}

.txt__md {
  @apply text-base md:text-lg lg:text-xl;
}

.txt__lg {
  @apply text-lg md:text-xl lg:text-2xl;
}

.txt__xl {
  @apply text-xl md:text-3xl lg:text-4xl;
}

.txt__2xl {
  @apply text-2xl md:text-4xl lg:text-5xl;
}

@keyframes spin {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
.link {
  transition: 0.3s ease-in-out;
  position: relative;
}
.link::after {
  content: "";
  position: absolute;
  bottom: -3.5px;
  width: 0%;
  left: 50%;
  height: 2px;
  transition: 0.3s ease-in-out;
  background-color: var(--whitesmoke);
}
.link:hover {
  text-shadow: 0 0 2.5px var(--whitesmoke), 0 0 5px var(--whitesmoke);
}
.link:hover::after {
  width: 100%;
  left: 0;
  box-shadow: 0 0 5px var(--whitesmoke), 0 0 10px var(--whitesmoke);
}

html {
  scroll-behavior: smooth;
}

:root {
  --whitesmoke: #f5f5f5;
  --gray__300: #d1d5dc;
  --neutral__950: #0a0a0a;
  --neutral__800: #262626;
  --neutral__700: #404040;
  --neutral__600: #525252;
  --neutral__400: #a1a1a1;
}

.scroll_app::-webkit-scrollbar {
  width: 8px;
}

.scroll_app::-webkit-scrollbar-track {
  background: transparent;
}

.scroll_app::-webkit-scrollbar-thumb {
  background: var(--whitesmoke);
  border-radius: 10px;
  box-shadow: 0 0 2.5px var(--whitesmoke), 0 0 5px var(--whitesmoke);
}

.scroll_app {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}
