@use "./t.css";

@use "./tokens/utils.scss";
@use "./tokens/txt.scss";
@use "./tokens/animations.scss";
@use "./tokens/hover.scss";

html {
  scroll-behavior: smooth;
}

:root {
  --whitesmoke: #f5f5f5;

  --gray__300: #d1d5dc;

  --neutral__950: #0a0a0a;
  --neutral__700: #404040;
}
