.tb {
  @apply border-2 border-white;
}

.pad_app {
  @apply px-[20px] sm:px-[50px];
}

.grad_txt {
  background: linear-gradient(to right, var(--whitesmoke), var(--neutral__700));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.btn_app {
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform: scale(var(--scale_up));
  }
}

.btn_app:active {
  transition: 0.15s;
  transform: scale(0.8);
}
